<!--This page has to be named the same as the function in the pages_controller.rb,
in the controllers folder, which is called 'def home', this allows ruby to find this
file in order to run it to show it to the one who put in the GET request-->
<div class = "home-callout text-center container-fluid">
    <h1>BE HUMBLE, SIT DOWN</h1>
    <h3>A Kendrick productions</h3>
</div>