<!-- This file name has to be the same as the function in the contact_mailer.rb, from the 
controllers folder, which is contact_email
-->
<!DOCTYPE html>
<html>
    <head></head>
    <body>
        <p>You have recieved a message from the site's contact form, from
        <%= "#{ @name }, #{ @email }." %></p>
        <p><%= @body %></p>
        
    </body>
    
</html>